# ----------------- Main ------------------------
/venv/*

# --------------- Frontend ----------------------
/frontend/delivery_dynamos_website/.env
/frontend/delivery_dynamos_website/node_modules/*

# --------------- Backend -----------------------
/backend/.env
/backend/__pycache__/*
/backend/example_format.json