# ----------------- Main ------------------------

# --------------- Frontend ----------------------
/frontend/delivery_dynamos_website/node_modules/*
/frontend/delivery_dynamos_website/node_modules/.vite/deps/_metadata.json
/frontend/delivery_dynamos_website/node_modules/.vite/deps/bootstrap.js

# --------------- Backend -----------------------
/backend/__pycache__/*
/backend/__pycache__/pc_miler_api.cpython-312.pyc
/backend/__pycache__/data_processing.cpython-312.pyc
/backend/example_format.json